* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: droid;
    src: url(fontes/idroid.otf);
}

.font-droid{
    font-family: droid;
    color: #008000;

}

footer > p > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

strong{
    color: #008f00;
}

ul {
    list-style-type: none;
    padding-left: 0;
    columns: 2;
}

li::before {
    content: "✔️ ";
}

ul{
    padding: 10px 20px 10px 20px;    
}

nav{
    background-color: #195d3a;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.438);
}

nav > a {
    text-decoration: none;
    color: rgb(236, 236, 236);
    padding: 0px 5px;
    font-weight: bold;
}

.principal{
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.312);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    line-height: 2em;
    text-align: justify;
    padding: 10px;
    text-indent: 20px;
    font-size: 0.9em;
}

.link-fora{
    color: #008f00;
    text-decoration: none;
    font-weight: bold;
}

.link-fora:hover{text-decoration: underline;}

.link-fora::after{
    content:  "🔗";
    box-shadow:0px 0px 4px #00000027;
}

.sub{
    font-size: 16px; 
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.312);
}

.video{
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #186b40;
}

video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
} 

.subText{
    background-image: linear-gradient(to right, #abffd4, white);
    padding: 0px;
}

nav > a:hover{
    transition-duration: .5s;
    background-color: #288f5a;
    border-radius: 4px;
}

main{
    background-color:white;
    max-width: 810px;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: px;
    margin:auto;
    font-weight: 500;
}

article{
    padding: 10px;
}

.extra{
    background-color: #b7f5d5;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.438);
}

.extitulo{
    background-color: #288f5a;
    border-radius: 10px 10px 0px 0px;
    color: white;
}

abbr{
    text-decoration: none;
}

h1{
    padding: 10px;
}

h2{
    padding: 10px;
}

header{
    text-align: center;
    background-image:linear-gradient(to top,#1d6c43,#26b66c);
    color: rgb(236, 236, 236);
}

h3{
    padding: 10px;
}

footer{
    margin-top: 16px ;
    font-size: 14px;
    background-color: #186b40;
    color: white;
    text-align: center;
}

body{
    text-align: justify;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 100;
   background-color: #b7f5d5;

}