@charset "UTF-8";

@media print {
    
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    
    body {
        background-image: url(../imagens/back-print.jpg); /* desnecessário */
    }
    
    main {
        border: 2px solid black;
    }
    
    main h1 {
        text-shadow: none;
        color: black;
    }

    #phone{ display: none; }
    #pc{ display: none; }
    #tablet{ display: none; }
    #tv{ display: none; }
    #print{ display: block; }
}

@media screen and (min-width: 769px) and (max-width: 992px){
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }

    #phone{ display: none; }
    #pc{ display: none; }
    #tablet{ display: block; }
    #tv{ display: none; }
    #print{ display: none; }
}

@media screen and (min-width: 993px) and (max-width: 1200px){
    body{
        background-image: url(../imagens/back-pc.jpg);
    }

    #phone{ display: none; }
    #pc{ display: block; }
    #tablet{ display: none; }
    #tv{ display: none; }
    #print{ display: none; }
}

@media screen and (min-width: 1201px){
    body{
        background-image: url(../imagens/back-tv.jpg);
    }

    #phone{ display: none; }
    #pc{ display: none; }
    #tablet{ display: none; }
    #tv{ display: block; }
    #print{ display: none; }
}